window, #rack {
    font: 100% "Gruppo";
    font-weight: bold;
    background: #000000;
    color: #ffffff;
}
notebook > header > tabs > tab, #header {
    background: #000000;
    color: #ffffff;
}


#plugin, headerbar, notebook > header   {
    font: 100% "Gruppo";
    opacity: 1;
    font-weight: bold;
    background: #000000;
    color: #ffffff;    
    margin: 0px;
    padding: 10px;
}

#delete {
    background: #ff0000;
    color: #ffffff;
}

spinbutton > text, spinbutton > button {
    background: #ededed;
}

#plugin, headerbar {
    border: 5px solid ;
    border-style: solid;
    
}

#knob3 {
    background-image:url("knobs/5.png");    
    background-position: center;
    background-repeat: no-repeat;
}

#knob2 {
    background-image:url("knobs/4.png");    
    background-position: center;
    background-repeat: no-repeat;
}
#knob1 {
    background-image:url("knobs/3.png");    
    background-position: center;
    background-repeat: no-repeat;
}
#knob0 {
    background-image:url("knobs/2.png");    
    background-position: center;
    background-repeat: no-repeat;
}

/*
#bypass > active {
    background-image:url("on.png");    
    background-position: center;
    background-repeat: no-repeat;
}

#bypass {
    background-image:url("off.png");    
    background-position: center;
    background-repeat: no-repeat;
}
*/
